services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ticket_system
      SPRING_DATASOURCE_USERNAME: exampleuser
      SPRING_DATASOURCE_PASSWORD: examplepw
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - db
      - redis

  db:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: exampleuser
      POSTGRES_PASSWORD: examplepw
      POSTGRES_DB: ticket_system

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "18080:8080"

  redis:
    image: redis:8
    restart: unless-stopped
    ports:
      - "16379:6379"

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    ports:
      - "19090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - "13000:3000"
    depends_on:
      - prometheus