spring:
  application:
    name: deployable-ticket-system
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:15432/ticket_system
    username: exampleuser
    password: examplepw
    driverClassName: org.postgresql.Driver
  data:
    redis:
      database: 0
      host: localhost
      port: 16379