spring:
  application:
    name: deployable-ticket-system
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
  datasource:
    platform: postgres
    driverClassName: org.postgresql.Driver
  data:
    redis:
      database: 0
      host: localhost
      port: 16379

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus